[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
  url = https://github.com/sieren/arduino-esp32.git
[submodule "main/libraries/TFT_eFEX"]
	path = main/libraries/TFT_eFEX
  url = https://github.com/sieren/TFT_eFEX.git
[submodule "main/libraries/rapidjson"]
	path = main/libraries/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "main/libraries/JPEGDecoder"]
	path = main/libraries/JPEGDecoder
	url = https://github.com/sieren/JPEGDecoder.git 
[submodule "components/ESPAsyncWebServer"]
	path = components/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "components/AsyncTCP"]
	path = components/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "main/libraries/TFT_eSPI"]
	path = main/libraries/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI.git
[submodule "main/libraries/M5Core2"]
	path = main/libraries/M5Core2
	url = https://github.com/m5stack/M5Core2.git