[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
  url = https://github.com/sieren/arduino-esp32.git
[submodule "main/libraries/TFT_eFEX"]
	path = main/libraries/TFT_eFEX
  url = https://github.com/sieren/TFT_eFEX.git
[submodule "main/libraries/rapidjson"]
	path = main/libraries/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "main/libraries/JPEGDecoder"]
	path = main/libraries/JPEGDecoder
	url = https://github.com/sieren/JPEGDecoder.git 
[submodule "main/libraries/variant"]
	path = main/libraries/variant
	url = https://github.com/mpark/variant.git
[submodule "components/homekit"]
	path = components/homekit
	url = https://github.com/sieren/esp-homekit.git
[submodule "components/http-parser"]
	path = components/http-parser
	url = https://github.com/sieren/esp-http-parser.git
[submodule "components/wolfssl"]
	path = components/wolfssl
	url = https://github.com/sieren/esp-wolfssl.git
[submodule "components/cJSON"]
	path = components/cJSON
	url = https://github.com/sieren/esp-cjson.git
